<mat-toolbar>
  <mat-toolbar-row *ngIf="authService.isLoggedIn()">
    <div class="dropdown" id="firstDropdown">
      <button class="dropdownMenuButton" data-toggle="dropdown">
        <i class="fa fa-user fa-2x"></i>
        <span>{{username}}</span>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/my-orders']">Bestellingen</a>
        <a [routerLink]="['/']" (click)="logout()">Uitloggen</a>
      </div>
    </div>

    <div class="logo">
      <button id="logoButton" [routerLink]="['/home']">
        <img src="..\assets\images\logo.png" alt="test" width="100px">
      </button>
    </div>

    <div class="dropdown" id="secondDropdown">
      <button class="buttonGroup" data-toggle="dropdown">
        Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/products']">
          Producten</a>
        <a [routerLink]="['/cart']">Kart</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

