button {
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
  font-size: 90%;
  border: none;
  color: #fff;
  outline: none;
  background-color: transparent;
}

.buttonGroup {
  padding-top: 1em;
}

span {
  padding: 0.10em;
}

.fa {
  padding: 0.5em 0.25em 0.5em 0.25em;
  color: white;
}

.logo {
  padding-bottom: 0.5em;
  margin-right: 6em;
}

#logoButton {
  margin-left: 60%;
  margin-top: 1em;
}

mat-toolbar {

  width: 100%;
  height: 80px;
  background: rgb(127, 69, 252);
  background: radial-gradient(circle, rgba(127, 69, 252, 1) 0%, rgba(131, 58, 180, 1) 100%);
  border-bottom: 4px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 3em 0 2em;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: left;
  padding: 0.75em;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  border-radius: 5px;
  cursor: pointer;
  display: block;

}

@media all and (max-width: 1000px) {
  button {
    margin-top: 0.5em;
    padding: 0 1em 0 1em;
    font-size: 90%;
    border: none;
    color: #fff;
    outline: none;
    background-color: transparent;
  }

  .logo {
    padding-bottom: 0.5em;
    max-width: 50px;
    margin-left: 1em;
  }

  span {
    display: none;
  }

  #logoButton {
    margin-top: 1em;
    max-width: 90px;
  }

  img {
    width: 70px;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    text-align: left;
    padding: 0.75em;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  .dropdownMenuButton {
    margin-left: 1em;
  }

  #firstDropdown {
    margin-left: 2em;
    min-width: 80px;
  }

  #secondDropdown {
    margin-right: 2em;
    min-width: 80px;
  }

  .buttonGroup {
    font-size: 15px;
  }

  .fa-user {
    font-size: 25px;
  }

}
