h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

table {
  table-layout: fixed;
  width: 100%;
}

.amountColumn {
  width: 20%;
}

.imageColumn {
  width: 30%;
}

.itemColumn {
  width: 30%;
}

.priceColumn {
  width: 20%;
}

tr {
  width: 100%;
}

td {
  padding: 1em;
  text-align: left;
}

.topTableRow {
  border-top: 1px solid gray;
}
