mat-card {
  width: 500px;
  border-style: solid;
  border-color: #394365;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

.cartCard {
  padding-top: 2em;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87%;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  color: rgb(37, 150, 190);
  font-weight: normal;
}

p {
  padding: 1em 0 0 0;
}

mat-card {
}

mat-card-title {
  font-weight: normal;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

mat-card-footer {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

mat-card-content {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

button {
  color: white;
  width: 9em;
}

button:hover {
  color: white;
}

i {
  padding-right: 0.5em;
}

.product {
  padding-top: 1em;
}

.total {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

span {
  display: table;
  margin: 0 auto;
}

.empty-cart {
  padding-bottom: 1em;
}

#buyBtn {
  background-color: dodgerblue;
}

#clearBtn {
  background-color: deeppink;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border: 3px dashed lightgrey;
  border-radius: 0;
}

.fa-shopping-cart {
  color: rgb(37, 150, 190);
  padding: 0 0.25em 0 0;
}

table {
  table-layout: fixed;
  width: 85%;
}

.amountColumn {
  width: 10%;
}

.imageColumn {
  width: 20%;
}

.itemColumn {
  width: 40%;
}

.priceColumn {
  width: 15%;
  text-align: right;
}

.add {
  width: 7.5%;
  text-align: right;
  color: green;
}

.add:hover {
  color: greenyellow;
  cursor: pointer;
}

.remove {
  width: 7.5%;
  text-alignt: right;
  color: rgb(175, 0, 0);
}

.remove:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
