<app-header></app-header>
<div class="loginCard">
  <mat-card class="mat-card" style="background-color: white; border-radius: 20px">
    <div class="loginContainer">
      <mat-card-header>
        <mat-card-title><h3>Shopping Cart</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li class="product" *ngFor="let product of cartProducts?.getCartProducts()">
            <img src="{{product.imagePath}}" alt="Image not found." width="100px" height="100px"
                 style="border-radius: 10px;">
            {{product?.name}} : {{product?.price | number : '1.2-2'}}
          </li>
          <li class="total"><b>Total price:</b> {{calculateTotalPrice() | number : '1.2-2'}}</li>
        </ul>
      </mat-card-content>
      <mat-card-footer>
        <button class="btn" (click)="buyProducts()">
          <i class="fa fa-money"></i>Buy Now
        </button>
        <button class="btn" (click)="clearCart()">
          <i class="fa fa-shopping-cart"></i>Clear Cart
        </button>
      </mat-card-footer>
    </div>
  </mat-card>
</div>
