.productContainer {
  text-align: center;
}

h2 {
  padding-top: 1em;
  font-weight: normal;
  color: rgb(37, 150, 190);
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  list-style: none;
  padding: 2em;
}

mat-card {
  color: white;
  background-color: #aa93f1;
  text-align: center;
  cursor: pointer;
  width: 300px;
}

mat-card-title {
  font-weight: normal;
  font-size: 18px;
}

mat-card-footer {
  padding-bottom: 1em;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid white;
  border-radius: 20px;
}

#edit {
  cursor: pointer;
  color: rgb(255, 198, 0);
}

#remove {
  cursor: pointer;
  color: red;
}

#copy {
  cursor: pointer;
  color: blue;
}

.fa-plus-circle {
  color: green;
  cursor: pointer;
}

mat-card-footer {
  display: flex;
  justify-content: space-evenly;
}

#subTitle {
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 1000px) {
  ul {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #subTitle {
    display: block;
  }

  span {
    display: block;
  }
}

