<h1 mat-dialog-title>Jouw Bestelling</h1>
<div mat-dialog-content>
  <table>
    <tr class="product" *ngFor="let cart of cartProducts">
      <td class="amountColumn">
        {{cart?.amount}}x
      </td>
      <td class="imageColumn">
        <img src="{{cart?.product?.imagePath}}" alt="Image not found." width="50px" height="50px"
             style="border-radius: 10px;">
      </td>
      <td class="itemColumn">
        {{cart?.product?.name}}
      </td>
      <td class="priceColumn">
        €{{cart?.product?.price | number : '1.2-2'}}
      </td>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="priceColumn"><b>Totaal:</b></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="priceColumn"> €{{totalPrice | number : '1.2-2'}}</td>
      <td class="add"></td>
      <td class="remove"></td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button class="btn-danger" (click)="onNoClick()">Sluiten</button>
</div>
