<app-header></app-header>
<div class="loginCard">
  <mat-card class="mat-card" style="background-color: white; border-radius: 20px">
    <mat-card-header>
      <div class="logo">
        <img src="..\assets\images\logo.png" alt="test" width="100px">
      </div>
    </mat-card-header>
    <div class="loginContainer">
      <form class="form-container" [formGroup]="loginForm" (ngSubmit)="signup()">
        <div>
          <p [hidden]="nameTaken" style="color: red">Gebruiker bestaat al</p>
          <label class="text">Gebruikersnaam</label>
          <input type="text"
                 class="form-control"
                 name="username"
                 formControlName="loginUsername"
                 required>
        </div>
        <br>
        <div>
          <label class="text" id="password">Wachtwoord</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 formControlName="loginPassword"
                 required>
        </div>
        <div>
          <label class="text" id="passwordTwo">Herhaal wachtwoord</label>
          <input type="password"
                 class="form-control"
                 name="password"
                 formControlName="loginRepeatPassword"
                 required>
        </div>
        <mat-card-footer>
          <div class="button">
            <button id="cancel" class="btn" [routerLink]="['/login']">
              <i class="fa fa-arrow-left"></i>Annuleren
            </button>
            <button id="submit" type="submit" class="btn" [disabled]="!loginForm.valid">
              <i class="fa fa-plus"></i>Account maken
            </button>
          </div>
        </mat-card-footer>
      </form>
    </div>
  </mat-card>
</div>
