<div class="loginCard" *ngIf="this.loaded">
  <mat-card class="mat-card" style="background-color: white; border-radius: 20px">
    <div class="loginContainer" *ngIf="!this.productNotFound; else emptyProduct">
      <mat-card-header>
        <mat-card-title><h3>{{product?.name}}</h3></mat-card-title>
        <mat-card-subtitle>{{product?.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img id="product" src="{{product?.imagePath}}" alt="Image not found." width="30%"
             height="120px"
             style="border-radius: 10px;">
        <p>€{{product?.price | number : '1.2-2'}}</p>
      </mat-card-content>
      <mat-card-footer>
        <button class="btn" (click)="addToCart()">
          <i class="fa fa-shopping-cart"></i>Voeg toe!
        </button>
      </mat-card-footer>
    </div>
    <ng-template #emptyProduct>
      <div class="empty-product">
        <span>Product niet gevonden</span>
      </div>
    </ng-template>
  </mat-card>
</div>
