<app-header></app-header>
<div class="loginCard">
  <mat-card class="mat-card" style="background-color: white; border-radius: 20px">
    <div class="loginContainer">
      <mat-card-header>
        <mat-card-title><h3>{{product?.name}}</h3></mat-card-title>
        <mat-card-subtitle>{{product?.price}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img id="product" src="../assets/images/{{product?.imagePath}}" alt="Image not found." width="120px"
             height="120px"
             style="border-radius: 10px;">
        <p>{{product?.description}}</p>
      </mat-card-content>
      <mat-card-footer>
        <button class="btn" (click)="addToCart(product)">
          <i class="fa fa-shopping-cart"></i>Add to Cart
        </button>
      </mat-card-footer>
    </div>
  </mat-card>
</div>

