<app-header></app-header>
<div class="upper-container">
  <div class="slider">
    <img id="sliderImage" src="..\assets\images\model_stairs.jpg" alt="Image not found." width="35%" height="625px" style="border-radius: 10px;">
    <a class="next" style="color: white; margin-right: 40px" (click)="changeImageNext()"> <i
      class="fa fa-chevron-right" style="font-size: 30px; color:white; "></i>
    </a>
    <a class="prev" style="color: white;margin-left: 40px" (click)="changeImagePrev()"> <i class="fa fa-chevron-left"
                                                                                           style="font-size: 30px; color:white;"></i>
    </a>
  </div>
  <!--  <div class="container1">-->
  <!--    <nav>-->
  <!--      <a routerLink='/loginpage'>-->
  <!--        <mat-card class="tp-card1">-->
  <!--          <div class="imageContainer1">-->
  <!--            <img class="imageEventManager" height="46%" width="46%" src="../assets/img/logoEventmanager.png"-->
  <!--                 alt="LogoEventmanager">-->
  <!--            <h3>Eventmanager</h3>-->
  <!--          </div>-->
  <!--        </mat-card>-->
  <!--      </a>-->
  <!--    </nav>-->
  <!--  </div>-->

</div>
