.upper-container {
  text-align: center;
}

i {
  margin-top: 6px;
}

.slider {
  margin: auto;
  padding-top: 1.5em;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  height: 500px;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 10));
  }

}

h2 {
  padding-top: 1em;
  font-weight: normal;
  color: rgb(37, 150, 190);
  font-family: cursive;
  font-size: 40px;
}

h3 {
  font-family: cursive;
  color: rgb(9, 114, 143);
}

img {
  width: 300px;
  perspective: 100px;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(5px);
  cursor: pointer;
}

.sliderImage {
  display: flex;
  align-items: center;
}


.imageContainer {
  text-align: center;
}

.container1 {
  position: absolute;
  text-align: center;
  bottom: 3%;
  width: 58%;
  left: 18%;
}
