<div class="upper-container">
  <h2>Welkom {{username}}!</h2>
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let product of products">
      <img class="sliderImage"
           src={{product?.imagePath}}
           alt="Image not found." height="400px" style="border-radius: 10px;">
      </div>
      <div class="slide" *ngFor="let product of products">
        <img class="sliderImage"
             src={{product?.imagePath}}
             alt="Image not found." height="400px" style="border-radius: 10px;">
      </div>
    </div>
  </div>
</div>
